body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #333;
  color: white;
  position: relative;
  z-index: 1002;
}

.logo {
  width: 120px;
  height: 120px;
  background-image: url('../photos/logo2.png');
  background-size: cover;
  background-position: center;
  margin-right: -10px;
  margin-right: -10px;
}

h1 {
  text-align: center;
  font-size: clamp(16px, 5vw, 48px);
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1003;
}

.burger div {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.burger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active div:nth-child(2) {
  opacity: 0;
}

.burger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #444;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 1001;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

nav a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  margin: 100px 0px 0px 0px;
  text-align: center;

}

nav a:hover {
  background: #555;
}

nav.active {
  left: 0;
}

.menulink:hover {
  color: #0056b3;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

button {
  padding: 15px;
  font-size: 16px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #0056b3;
}

/*-----------------адаптация---------------*/
@media (max-width: 768px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}